Tibco Project Files/Tibco_Project/Schemas/new_breakdown.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Education) 15.1.16.7872 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="breakdown">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="train_id" type="xs:int" minOccurs="1" maxOccurs="1" />
                <xs:element name="faultType" type="xs:string" minOccurs="1" maxOccurs="1" />
                <xs:element name="timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
                <xs:element name="coordinates" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lat" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                            <xs:element name="long" type="xs:decimal" minOccurs="1" maxOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="remark" type="xs:string" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>