TrainBreakDown/Tibco_Project/weather.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2017 - Developer Bundle Edition (Education) 15.1.16.7872 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="channel">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" name="title" type="xs:string" />
        <xs:element minOccurs="0" name="source" />
        <xs:element minOccurs="0" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="title" type="xs:string" />
              <xs:element minOccurs="0" name="issue_datentime" type="xs:string" />
              <xs:element minOccurs="0" name="warning" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="rain_area_image">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="metadata" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="satellite_image">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="metadata" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>